.applications-section {
    background-color: #F3F4F6;
    padding-top: 70px !important;
    padding-bottom: 70px !important;
}

.app-head {
    margin-bottom: 16px;
}

.app-comment {
    margin-bottom: 24px !important;
}

@media (min-width: 768px) {
    .applications-section {
        padding-top: 60px !important;
        padding-bottom: 60px !important;
    }

    .app-comment {
        margin-bottom: 40px !important;
    }
}

@media (min-width: 1440px) {
    .app-comment {
        margin-bottom: 0 !important;
    }
}