.contacts {
    padding: 70px 16px 0;
}

.contact-list {
    margin-top: 24px;
}

.contact-item {
    margin-top: 0; 
    margin-left: 10px;
}

.contact-map {
    margin-top: 40px;
}

@media (min-width: 768px) {
    .contacts {
        padding: 100px 16px 0;
    } 

    .contact-map {
        margin-top: 0;
    }
}

@media (min-width: 1440px) {
    .contacts {
        padding: 120px 100px 0;
    } 
}
