.faq-section {
    margin-top: 0;
    padding: 70px 16px 0;
    margin-bottom: 0;
}

.faq-head {
    margin-top: 0;
    margin-bottom: 40px;
}

.faq-card {
    margin-bottom: 8px;
}

.faq-card-head {
    background-color: #F3F4F6;
    border-radius: 0 !important;
}

@media (min-width: 768px) {
    .faq-section {
        padding: 100px 16px 0;
    }

    .faq-head {
        margin-bottom: 50px;
    }

    .faq-card {
        margin-bottom: 20px;
    }
}

@media (min-width: 1440px) {
    .faq-section {
        padding: 120px 310px 0;
        
    }
    
}