.footer {
  background-color: #131415 !important;
  padding: 50px 0;
  padding-bottom: 30px;
}

.footer-logo {
  width: 100px;
  height: 48px;
  display: inline-block;
  margin-left: 50px;
}

/* list */
.footer-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 50px;
}

.footer-list-item {
  list-style: none;
}

.footer-list-item a {
  display: block;
  text-decoration: none;
}

.footer-ioc {
  text-decoration: none;
}

/* footer input */
.footer-input {
  color: #fff !important;
  border: 1px solid #fff;
  background-color: transparent !important;
}

.footer-input:hover {
  background-color: #0552AD;
  color: #FFFFFF;
}

.footer-input:focus {
  background-color: #003E87;
  color: #FFFFFF;
  outline: 2px solid #fff !important;
}

.footer-input:active {
  background-color: #003E87;
  color: #FFFFFF;
}

.footer-input::placeholder {
  color: #fff !important;
}

.footer-input::-ms-input-placeholder { /* Edge 12 -18 */
  color: #fff !important;
}

.footer-icon-one {
  margin-right: 16px;
}

.footer-logo-ref {
  margin-bottom: 40px !important;
}

.first-list {
  margin-bottom: 40px;
}

.second-list {
  min-height: 128px;
  margin-bottom: 16px;
}

.refs {
  margin-bottom: 40px;
  margin-left: 50px;
}

.footer-first-part {
  /* border-bottom: 1px solid #7B7F85; */
  margin: 0;
  padding: 0;
}

.footer-second-part {
 padding-top: 16px !important;
 margin: 0; 
}

@media (min-width: 768px) {
  .second-list {
    flex-direction: row;
  }

  .second-list {
    min-height: 20px;
    margin-bottom: 16px;
  }
}

@media (min-width: 1440px) {
  .footer-first-part {
    padding-left: 100px;
    padding-right: 100px;
  }
  
  .footer-second-part {
    padding-left: 100px;
    padding-right: 100px;
  }
  
}
