.footer {
  background-color: #131415 !important;
  padding: 50px 100px 0;
}

.footer-logo {
  width: 128px;
  height: 36px;
  display: inline-block;
}

/* list */
.footer-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer-list-item {
  list-style: none;
}

.footer-list-item a {
  display: block;
  text-decoration: none;
}

.footer-ioc {
  text-decoration: none;
}

/* footer input */
.footer-input {
  color: #fff !important;
  border: 1px solid #fff;
  background-color: transparent !important;
}

.footer-input:hover {
  background-color: #0552AD;
  color: #FFFFFF;
}

.footer-input:focus {
  background-color: #003E87;
  color: #FFFFFF;
  outline: 2px solid #fff !important;
}

.footer-input:active {
  background-color: #003E87;
  color: #FFFFFF;
}

.footer-input::placeholder {
  color: #fff !important;
}

.footer-input::-ms-input-placeholder { /* Edge 12 -18 */
  color: #fff !important;
}

@media (min-width: 360px) {
}

@media (min-width: 768px) {
  .second-list {
    flex-direction: row;
  }
}

/* @media (min-width: 1440px) {
} */
