.footer {
    background-color: #131415 !important;
}

.footer-logo {
    width: 128px;
    height: 36px;
    display: inline-block;
}

/* list */

.footer-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

.footer-list-item {
    list-style: none;
}

.footer-list-item a {
    display: block;
    text-decoration: none;
}

.footer-ioc {
    text-decoration: none;
}




@media (min-width: 360px) {
}

@media (min-width: 768px) {
}