.canvas {
    background-color: #131415 !important;  
}

.header-canvas-logo {
  width: 100px;
  height: 48px;
  display: inline-block;
}

/* list */
.header-canvas-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header-canvas-list-item {
  list-style: none;
}

.header-canvas-list-item a {
  display: block;
  text-decoration: none;
}

.header-canvas-ioc {
  text-decoration: none;
}

.header-canvas-icon-one {
  margin-right: 16px;
}

.header-canvas-ref {
  margin-bottom: 40px !important;
}

.header-canvas-first-list {
  margin-bottom: 40px;
}

.header-canvas-second-list {
  margin-bottom: 16px;
}

.header-canvas-refs {
  margin-bottom: 40px;
}

.header-canvas-first-part {
  border-bottom: 1px solid #7b7f85;
}

.header-canvas-second-part {
  padding-top: 16px !important;
}

@media (min-width: 768px) {
  .header-canvas-second-list {
    flex-direction: row;
  }
}

/* @media (min-width: 1440px) {
  } */
