.site-menu {
    /* float: right; */
    list-style: none;
    margin: 0 0 0;
    padding: 0;
}

.menu-list-item {
    /* float: left; */
    list-style: none;
    /* text-transform: uppercase; */
    /* font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700; */
}

.menu-list-item:not(:last-child) {
    margin-right: 25px;
}

.menu-list-item a {
    display: block;
    /* color: rgb(98, 98, 98); */
    text-decoration: none;
}