.site-menu {
    /* float: right; */
    list-style: none;
    margin: 0 0 0;
    padding: 0;
}

.menu-list-item {
    list-style: none;
    
}

.menu-list-item:not(:last-child) {
    margin-right: 24px;
}

.menu-list-item a {
    text-decoration: none;
}

@media (min-width: 1440px) {
    .menu-list-item:not(:last-child) {
        margin-right: 36px;
    } 
}