.section-tariff {
    margin-bottom: 70px;
    
}

.tarif-card-gap {
    margin-bottom: 16px;
}

.tariff-head {
    font-family: "eUkraineHeadMedium", "Helvetica", "Arial", sans-serif !important;
    font-weight: 500;
    font-size: 32px;
    line-height: 38.4px;
    margin-bottom: 30px !important;
}

.tariff-head-gap {
    margin-bottom: 30px !important;
}

.btn-tariff {
    height: 12px;
    width: 12px;
    border: 2px solid #116DD8;
    border-radius: 50%;
    background: #fff;
    padding: 0;
}

.btn-tariff-one {
    margin-right: 16px;
}

.btn-tariff-two {
    margin-right: 16px;
}

.btn-tariff:active {
    height: 12px;
    width: 12px;
    border: 2px solid #116DD8;
    border-radius: 50%;
    background: #116DD8;
    padding: 0;
}

.btn-tariff:focus {
    height: 12px;
    width: 12px;
    border: 2px solid #116DD8;
    border-radius: 50%;
    background: #116DD8;
    padding: 0;
}

.btn-tariff-active {
    height: 12px;
    width: 12px;
    border: 2px solid #116DD8;
    border-radius: 50%;
    background: #116DD8;
    padding: 0;
}

@media (min-width: 768px) {
    .section-tafiff {
        margin-bottom: 100px;
    }

    .tariff-head {
        font-size: 46px;
        line-height: 55.2px;
        margin-bottom: 16px;
    }

    .tariff-head-gap {
        margin-bottom: 50px !important;
    }
}

@media (min-width: 1440px) {
    .section-tafiff {
        margin-bottom: 120px;
    }

}