/* The following block can be included in a custom.scss */
@import "variables";

/* make the customizations */
$theme-colors: (
  "primary": #116DD8,
  "info": tomato,
  "danger": teal,
);

/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";

@font-face {
  font-family: "eUkraine";
  src: local("eUkraineRegular"),
    url("../assets/fonts/e-Ukraine/e-Ukraine-Regular.otf") format("opentype");
  font-weight: normal;
}
