/* The following block can be included in a custom.scss */
@import "variables";
@import "typography";
@import "fonts";

// basic
// *,
// *::before,
// *::after {
//     box-sizing: inherit;
// }

// img {
//     display: block;
//     max-width: 100%;
//     height: auto;
// }

// .clearfix::after {
//     content: "";
//     clear: both;
//     display: table;
// }


/* make the customizations */
$theme-colors: (
  "primary": #116DD8,
);

/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";

// inputs
.form-control {
  border-color: #D7D9DB;
  color: #D7D9DB;;
  padding: 13px 10px;
  border-width: 1px;
  border-radius: 4px;
  font-family: "eUkraineLight", "Helvetica", "Arial", sans-serif !important;
  font-size: 16px !important;
  line-height: 22.4px;
  
}

.form-control:focus {
  border: none !important;
  color: #116DD8;
  outline: 2px solid #116DD8;
  box-shadow: none !important;
}

.form-label {
  color: #323336;
  font-family: "eUkraine", "Helvetica", "Arial", sans-serif !important;
  font-size: 14px !important;
  line-height: 19.6px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 10px;
}

.form-select {
  padding: 13px 36px 13px 10px;
  border: 1px solid #D7D9DB;
  border-radius: 4px;
  color: #D7D9DB;
  cursor: pointer;
}

.form-select:focus {
  box-shadow: none !important;
}

.select-dropdown {
  // background-color: red;
  padding: 10px;
}

// email
.email {
  padding: 10px;
}

.btn-primary {
  background-color: red;
  padding: 12px 48px;
  border-radius: 4px;
  background-color: #116DD8;
  color: white;
  line-height: 22.4px;
}

.btn-primary:hover {
  background-color: #0552AD;
}

.btn-primary:focus {
  background-color: #003E87;
}

.btn-primary:active {
  background-color: #003E87;
}

.btn-outline-primary {
  border-color: #116DD8 !important;
  padding: 12px 24px;
  border: 2px solid;
  border-radius: 4px;
  color: #116DD8;
  line-height: 22.4px;
}

.btn-outline-primary:hover {
  background-color: #0552AD;
  color: #FFFFFF;
}

.btn-outline-primary:focus {
  background-color: #003E87;
  color: #FFFFFF;
}

.btn-outline-primary:active {
  background-color: #003E87;
  color: #FFFFFF;
}

.btn-large {
  padding: 20px 48px;
}

.section {
  padding: 70px 0 0;
}

@media (min-width: 768px) {
  .section {
    padding: 100px 0 0;
  }
}

@media (min-width: 1440px) {
  .section {
    padding: 120px 0 0;
  }
}

