/* TYPOGRAPHY STYLES
   ----------------------------- */
h1,
h2,
h3,
h4 {
  font-family: "eUkraineHeadMedium", "Helvetica", "Arial", sans-serif !important;
  margin-bottom: 0 !important;
}

h5 {
  font-family: "eUkraineHead", "Helvetica", "Arial", sans-serif !important;
  margin: 0 !important;
}

.headBold {
  font-family: "eUkraineHeadBold", "Helvetica", "Arial", sans-serif !important;
}

.headMedium {
  font-family: "eUkraineHeadMedium", "Helvetica", "Arial", sans-serif !important;
}

.headRegular {
  font-family: "eUkraineHead", "Helvetica", "Arial", sans-serif !important;
}

.light {
  font-family: "eUkraineLight", "Helvetica", "Arial", sans-serif !important;
}

.medium {
  font-family: "eUkraineMedium", "Helvetica", "Arial", sans-serif !important;
}

.regular {
  font-family: "eUkraine", "Helvetica", "Arial", sans-serif !important;
}

h6 {
  font-family: "eUkraineHead", "Helvetica", "Arial", sans-serif !important;
  margin: 0 !important;
}

p {
  margin-bottom: 0 !important;
}

.h1 {
  font-size: $h3Size !important;
  line-height: 48px !important;
  margin: 0;
  padding: 0;
}

.herro {
  font-size: $heroSize !important;
}

h2 {
  font-size: $h2Size !important;
}

h3 {
  font-size: $h3Size !important;
}

h4 {
  font-size: $h4Size !important;
}

h5 {
  font-size: $h5Size !important;
}

h6 {
  font-size: $h6Size !important;
}

.normal {
  font-size: 16px !important;
}

.small {
  font-size: 14px !important;
}

.label {
  font-size: 12px !important;
}

// @media (max-width: 767px) {

// }

@media (min-width: 360px) {
  .h1 {
    font-size: $h1Size !important;
    line-height: 60px !important;
  }
}

@media (min-width: 768px) {
  .h1 {
    font-size: $heroSize !important;
    line-height: 72px !important;
  }
}

// @media (min-width: 1440px) {

// }

//    .error-number {
//      color: #22262e;
//      font-size: 120px;
//      font-weight: 600;
//      line-height: 130px;
//    }

//    .back-to-link {
//      position: absolute;
//      top: 20px;
//      left: 40px;
//    }
//    .error {
//      border: 1px solid #ff0000 !important;
//    }
