$heroSize: 60px;
$h1Size: 50px;
$h2Size: 46px;
$h3Size: 40px;
$h4Size: 32px;
$h5Size: 24px;
$h6Size: 20px;



$grid-breakpoints: (
    xs: 0,
    sm: 360px,
    md: 768px,
    lg: 1440px,
);

// Colors
$colorPrimary: teal;
$primary: red;

//buttons
// $btnColorPrimary: $colorPrimary;
// $btnBorderRadius: 5px;

// colors
$black: #000000 !default;
$white: #FFFFFF;
$primary: #2C2D2F;
$secondary:#65686D;
$stroke: #D7D9DB;
$stroke-light:#F7F7F7;
$dark-blue: global #116DD8;
$blue: #10A8EC;
$light-blue: #F2FBFF;

$offcanvas-horizontal-width: 100%;

