$heroSize: 60px;
$h1Size: 50px;
$h2Size: 32px;
$h3Size: 40px;
$h4Size: 32px;
$h5Size: 24px;
$h6Size: 20px;

$grid-breakpoints: (
    xs: 0,
    sm: 361px,
    md: 768px,
    lg: 1440px,
);

$container-max-widths: (
  xs: 360px,
  sm: 767px,
  md: 1439px,
  lg: 1999px,
);

$spacer: 16px;

$spacers: (
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.25),
  5: ($spacer * 1.5),
  6: ($spacer * 3),
  7: ($spacer * 6.25)
);

// Colors
$colorPrimary: teal;
$primary: red;

//buttons
// $btnColorPrimary: $colorPrimary;
// $btnBorderRadius: 5px;

// colors
$black: #000000 !default;
$white: #FFFFFF;
$primary: #2C2D2F;
$secondary:#65686D;
$stroke: #D7D9DB;
$stroke-light:#F7F7F7;
$dark-blue: global #116DD8;
$blue: #10A8EC;
$light-blue: #F2FBFF;

$offcanvas-horizontal-width: 100%;

